parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    level: max
    paths:
        - src
    ignoreErrors:
        - '#Psr\\Cache\\InvalidArgumentException is not subtype of Throwable#'
