name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 0 * * 1'

jobs:
  tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: ['8.2', '8.3', '8.4']
        stability: [prefer-lowest, prefer-stable]
        psr-cache: ['1.0', '2.0', '3.0']

    name: PHP ${{ matrix.php }} - ${{ matrix.stability }} - PSR Cache ${{ matrix.psr-cache }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          coverage: none

      - name: Install dependencies
        run: composer update --${{ matrix.stability }} --prefer-dist --no-interaction --no-progress

      - name: Install specific PSR Cache version
        run: composer require psr/cache:^${{ matrix.psr-cache }} --no-interaction --no-progress

      - name: Execute tests
        run: composer test

      - name: Verify PSR Cache version
        run: composer show psr/cache
